# jupyter notebook
.ipynb_checkpoints
# example
result_example.zip 

# model checkpoints and summaries
conv_model
pooled_conv_model
pooled_conv2d_model
pooled_conv_model_m
pooled_conv2d_model_250
pooled_conv2d_model_2506
